h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin-top: 0;
}

.section-title {
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 10px;
}

.title-sub {
  font-size: 14px;
  font-weight: 300;
  color: #888888;
}